<h1 mat-dialog-title>Editar {{empresa.nome}}</h1>
<div mat-dialog-content>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput name="empresanome" [(ngModel)]="empresa.nome" placeholder="Nome">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput name="empresacodigo"  [(ngModel)]="empresa.codigo" placeholder="Código">
    </mat-form-field>

  </form>


</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="empresa" cdkFocusInitial>Concluir</button>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancelar</button>
</div>
